{
    "download_server_base": "https://<your_domain>/<some path>",
    "resources_url_base": "https://<your_domain>/<some path>/assets/objects",
    "replace_download_urls": true,
    "versions": [
        {
            "name": "Monifactory",
            "minecraft_version": "1.20.1",
            "loader_name": "forge",
            "loader_version": "47.3.7",
            "include": [
                "mods"
            ],
            "include_no_overwrite": [
                "config"
            ],
            "include_from": "<...>/PrismLauncher/instances/Monifactory/minecraft",
            "auth_provider": {
                "type": "telegram",
                "auth_base_url": "https://mc-auth.vanutp.dev"
            }
        }
    ],
    "exec_after_all": "chmod -R +r ./generated && rsync -vza ./generated/ <somewhere>"
}