[Desktop Entry]
Name=DVA SMP Launcher
Comment=Play Minecraft with Vanutp
Type=Application
Exec=dvasmp
Terminal=true
Categories=Game;
Keywords=Minecraft;Launcher;Vanutp;
Icon=dev.vanutp.DvaSmp
StartupNotify=false
